.container {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin-bottom: 100px;
}

.polaroidFrame {
  position: absolute;
  top: -12%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.pin {
  position: absolute;
  top: -25%;
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.photo {
  position: relative;
  /* top: 28%; */
  width: 88%;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  position: absolute;
  top: 100%;
}
